.search {
  display: flex;
  flex-direction: column;
}

.search-btn {
  position: absolute;
  margin-top: .1rem;
  background-color: #ffffff;
  padding: 0.5rem .7rem;
  border-radius: 5px;
  border: none;
}
.card {
  font-family: "Montserrat";
  font-style: normal;
}
.grid-main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0;
  width: 100%;
  margin: 0 auto;
  gap: 3rem;
}

.text-input {
  box-sizing: border-box;
  width: 600px;
  height: 50px;

  background: #ffffff;
  border: 1px solid #eaeaea;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  padding-left: 5%;
  padding-top: 0.4%;
}
.card-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}
.card-date {
  display: flex;
  flex-direction: row;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  opacity: 0.6;
}
.card-content {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}
.date-icon {
  font-size: 16px;
}
.date-text {
  margin-top: -0.01rem;
}
.cards-link {
  display: flex;
}
.card-link {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #363636;
  text-decoration: none;
}
